@font-face {
    font-family: "iconfont"; /* Project id 4579859 */
    src: url('//at.alicdn.com/t/c/font_4579859_759zmvce9b4.woff2?t=1767942360864') format('woff2'),
    url('//at.alicdn.com/t/c/font_4579859_759zmvce9b4.woff?t=1767942360864') format('woff'),
    url('//at.alicdn.com/t/c/font_4579859_759zmvce9b4.ttf?t=1767942360864') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shangchuan:before {
    content: "\e688";
}

.icon-jilu1:before {
    content: "\101a9";
}

.icon-04zhuanhuan:before {
    content: "\e626";
}

.icon-zhuti:before {
    content: "\e682";
}

.icon-list:before {
    content: "\e600";
}

.icon-jilu:before {
    content: "\e75b";
}

.icon-shanchu:before {
    content: "\e612";
}

.icon-aislogo:before {
    content: "\e648";
}

.icon-xiangshang:before {
    content: "\e66b";
}

.icon-xiangyoujiantou:before {
    content: "\e60a";
}

.icon-wode:before {
    content: "\e625";
}

.icon-baocun:before {
    content: "\e63b";
}

.icon-xiala:before {
    content: "\e634";
}

.icon-fanhui:before {
    content: "\e61e";
}

.icon-a-037_zhuye32:before {
    content: "\e6c3";
}
